<template>
  <div class="container">
    <form id="copy-form" method="POST" accept-charset="UTF-8" @submit.prevent="do_nothing">
      <b-field>
        <b-button type="is-primary"
                  :disabled="!is_form_ready"
                  @click="copy_signature">
          Copier la signature
        </b-button>
      </b-field>
    </form>
    <div ref="preview">
      <table role="presentation" class="wrapper signature-preview" width="550" cellspacing="0" cellpadding="0">
        <tbody>
          <tr style="font-weight: 600;">
            <td style="font-size: 0px;" valign="top">
              <p style="font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%; display: block;">
              <span style="color: rgb(215, 120, 18);">{{ first_name || 'Prénom' }}&nbsp;{{ surname || 'Nom' }}</span>
              </p>
            </td>
          </tr>
          <tr>
            <td style="font-size: 0px; padding-bottom: 5px;" valign="top">
              <p style="font-size: 12.8px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%;">
              <span>{{ job_title || 'Chargée de mission' }}</span>
              </p>
            </td>
          </tr>
          <tr>
            <td style="font-size: 0px;" valign="top">
              <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%; display: block; font-style: italic;">
              <span style="padding-right: 0px; color: rgb(118, 183, 41);">Ligne directe&nbsp;: </span>
              <a :href="`tel:${stripped_phone}`" style="text-decoration: none; color: rgb(136, 136, 136);">{{ phone || '+33 (0) 5 61 12 34 56' }}</a>
              </p>
            </td>
          </tr>
          <tr>
            <td style="font-size: 0px;" valign="top">
              <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%; display: block; font-style: italic;">
              <span style="padding-right: 0px; color: rgb(118, 183, 41);">Courriel&nbsp;:  </span>
              <a :href="`mailto:${email}`" style="text-decoration: none; color: rgb(9, 62, 146);">{{ email || 'prenom.n@ariegenature.fr' }}</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <table role="presentation" cellspacing="0" cellpadding="0" style="margin-top: 10px;">
                <tbody>
                  <tr>
                    <td valign="center">
                      <div style="width: 200px; height: 84px; border-radius: 0px; margin-right: 8px;">
                        <img src="https://ariegenature.fr/wp-content/uploads/2019/11/ana-cen09_ptt.jpg" width="200" height="84">
                      </div>
                    </td>
                    <td valign="center" style="vertical-align: middle;">
                      <table role="presentation" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td style="font-size: 0px;">
                              <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%; display: block;">
                              <span style="padding-right: 0px; color: inherit;">Site web&nbsp;:  </span>
                              <a href="https://ariegenature.fr" style="text-decoration: none; color: rgb(9, 62, 146);">https://ariegenature.fr</a>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 0px;">
                              <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%; display: block;">
                              <span style="padding-right: 0px; color: inherit;">Adresse&nbsp;:  </span>
                              <span>Lieu-dit Vidallac, 09240&nbsp;Alzen</span>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 0px;">
                              <p style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%; display: block;">
                              <span style="padding-right: 0px; color: inherit;">Standard&nbsp;:  </span>
                              <a href="tel:+33561658054" style="text-decoration: none; color: inherit;">+33 (0) 5 61 65 80 54</a>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td valign="center">
                      <table role="presentation" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td style="font-size: 0px;">
                              <p style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0px; line-height: 150%; display: block;">
                              <span style="color: rgb(136, 136, 136);">Labellisée CPIE d'Ariège</span>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 0px; text-align: center;">
                              <div>
                                <img src="https://ariegenature.fr/wp-content/uploads/2019/11/CPIE-A.png">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ana-template',
  computed: {
    is_form_ready () {
      return Boolean(this.first_name) && Boolean(this.surname) && Boolean(this.job_title) && Boolean(this.email) && Boolean(this.phone)
    },
    stripped_phone () {
      return this.phone.replace(/[^0-9+]+/g, '');
    },
    ...mapState([
      'first_name',
      'surname',
      'job_title',
      'email',
      'phone'
    ])
  },
  methods: {
    do_nothing () {},
    copy_signature () {
      let range = document.createRange()
      range.selectNode(this.$refs.preview.querySelector('.signature-preview'))
      window.getSelection().removeAllRanges()
      window.getSelection().addRange(range)
      document.execCommand('copy')
    }
  }
}
</script>
