<template>
  <form id="signature-form" method="POST" accept-charset="UTF-8" @submit.prevent="do_nothing">
    <b-field grouped group-multiline>
      <b-field label="Prénom" label-position="on-border">
        <b-input type="text"
                 id="first_name"
                 placeholder="Prénom"
                 icon="card-account-details"
                 autofocus
                 required
                 v-model="first_name">
        </b-input>
      </b-field>
      <b-field label="Nom de famille" label-position="on-border">
        <b-input type="text"
                 id="surname"
                 placeholder="Nom"
                 icon="card-account-details"
                 required
                 v-model="surname">
        </b-input>
      </b-field>
    </b-field>
    <b-field label="Intitulé du poste" label-position="on-border">
      <b-input type="text"
               id="job_title"
               placeholder="Chargée de mission"
               icon="card-account-details-star"
               required
               v-model="job_title">
      </b-input>
    </b-field>
    <b-field grouped group-multiline>
      <b-field label="Adresse électronique" label-position="on-border">
        <b-input type="email"
                 id="email"
                 placeholder="prenom.n@ariegenature.fr"
                 icon="card-account-mail"
                 required
                 v-model="email">
        </b-input>
      </b-field>
      <b-field label="Ligne directe" label-position="on-border">
        <b-input type="tel"
                 id="phone"
                 placeholder="+33 (0) 5 61 12 34 56"
                 icon="card-account-phone"
                 required
                 v-model="phone">
        </b-input>
      </b-field>
    </b-field>
  </form>
</template>

<script>
export default {
  name: 'signature-form',
  computed: {
    first_name: {
      get () {
        return this.$store.state.first_name
      },
      set (value) {
        this.$store.commit({
          type: 'set_first_name',
          first_name: value
        })
      }
    },
    surname: {
      get () {
        return this.$store.state.surname
      },
      set (value) {
        this.$store.commit({
          type: 'set_surname',
          surname: value
        })
      }
    },
    job_title: {
      get () {
        return this.$store.state.job_title
      },
      set (value) {
        this.$store.commit({
          type: 'set_job_title',
          job_title: value
        })
      }
    },
    email: {
      get () {
        return this.$store.state.email
      },
      set (value) {
        this.$store.commit({
          type: 'set_email',
          email: value
        })
      }
    },
    phone: {
      get () {
        return this.$store.state.phone
      },
      set (value) {
        this.$store.commit({
          type: 'set_phone',
          phone: value
        })
      }
    }
  },
  methods: {
    do_nothing () {}
  }
}
</script>
