<template>
  <div id="app">
   <section class="section">
    <div class="container">
      <h1 class="title">Générer votre signature</h1>
      <p>Remplissez le formulaire ci-dessous et vérifiez le résultat sur la
      prévisualisation à droite.</p>
      <p>Une fois le résultat correct, cliquez sur le bouton <span
        class="has-text-weight-bold">Copier la signature</span> puis collez-la
      dans <a href="https://mail.google.com/mail/u/0/#settings/general"
        target="_blank">
        GMail<b-icon icon="arrow-top-right" size="is-small"></b-icon>
      </a>&nbsp;:
      <span class="has-text-weight-bold">
        Paramètres
      </span>&nbsp;&rarr;&nbsp;Onglet
      <span class="has-text-weight-bold">
        Général
      </span>&nbsp;&rarr;&nbsp;Section
      <span class="has-text-weight-bold">
        Signature
      </span>, puis
      <span class="has-text-weight-bold">
        Enregistrez les modifications
      </span> tout en bas de la page.</p>
    </div>
   </section>
   <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <signature-form></signature-form>
        </div>
        <div class="column">
          <ana-template></ana-template>
        </div>
      </div>
    </div>
   </section>
  </div>
</template>

<script>
import AnaTemplate from './components/AnaTemplate.vue'
import SignatureForm from './components/SignatureForm.vue'

export default {
  name: 'App',
  components: {
    AnaTemplate,
    SignatureForm
  }
}
</script>
